/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(226, 223, 223);
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
    display: flex;
}

h1{
    color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    background-color: lightcoral;
}

li, a{
    text-decoration: none;
    color: black;
    list-style: none;
    display: inline;
    margin-right: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.container-sobre{
    display: flex;
}

.sobreImagem{
    max-width: 320px;
    max-height: 320px;
    display: flex;
    margin-right: 24px;
}

section{
    padding: 48px 0;
    display: block;
}

section h2{
    margin-bottom: 16px;
    font-style: italic;
    border-bottom: 4px solid lightcoral;
    padding-bottom: 5px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 25.0%);
    column-gap: 1%;
    row-gap: 5%;
}

.produto img{
    max-width: 100%;
    min-width: 250px;
    max-height: 250px;
    height: 250px;
}

.container-produtos{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
}

h3{
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    margin-top: 16px;
}

.botao{
    cursor: pointer;
    padding: 16px 0;
    min-width: 250px;
    color: black;
    appearance: none;
    background-color: lightblue;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: #705b5b;
}

.botao:hover{
    background-color: lightcoral;
}

img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.container-produtos p{
    text-align: center;
    margin-bottom: 16px;
}

.texto{
    color: white;
}

@media  screen and (max-width: 1024px) {
    
} */

/* @media screen and (max-width: 640px) { */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(226, 223, 223);
}

.container{
    padding-bottom: 16px;
    padding: 1rem;
}

h1{
    color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    background-color: lightcoral;
}

li, a{
    text-decoration: none;
    color: black;
    list-style: none;
    display: inline;
    margin-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.container-sobre{
    display: flex;
}

.sobreImagem{
    max-width: 30rem;
    max-height: 30rem;
    display: flex;
}

section{
    display: block;
}

section h2{
    margin-bottom: 16px;
    font-style: italic;
    border-bottom: 4px solid lightcoral;
    padding-bottom: 5px;
    padding: 1rem;
}

.produtos{
    justify-content: center;
    text-align: center;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.container-produtos{
    padding-bottom: 16px;
}

h3{
    text-align: center;
    justify-content: center;
    margin-top: 16px;
    display: flex;
}

.botao{
    cursor: pointer;
    padding: 1em 0;
    min-width: 250px;
    color: black;
    appearance: none;
    background-color: lightblue;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: #705b5b;
}

.botao:hover{
    background-color: lightcoral;
}

.container-produtos p{
    text-align: center;
    margin-bottom: 16px;
}

.texto{
    color: white;
}

.imagem-produto{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


@media  screen and (min-width: 1024px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-color: rgb(226, 223, 223);
    }

    .container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 16px;
        display: flex;
    }
    
    h1{
        color: white;
    }
    
    header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header{
        padding: 16px 0 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 56px;
        background-color: lightcoral;
    }
    
    li, a{
        text-decoration: none;
        color: black;
        list-style: none;
        display: inline;
        margin-right: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .container-sobre{
        display: flex;
    }
    
    .sobreImagem{
        max-width: 320px;
        max-height: 320px;
        display: flex;
        margin-right: 24px;
    }
    
    section{
        padding: 48px 0;
        display: block;
    }
    
    .produtos{
        display: grid;
        grid-template-columns: repeat(4, 25.0%);
        column-gap: 1%;
        row-gap: 5%;
    }
    
    .produto img{
        max-width: 100%;
        min-width: 250px;
        max-height: 250px;
        height: 250px;
    }
    
    .container-produtos{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 16px;
    }
    
    .botao{
        cursor: pointer;
        padding: 16px 0;
        min-width: 250px;
        color: black;
        appearance: none;
        background-color: lightblue;
        font-weight: bold;
        font-size: 16px;
        border: none;
        color: #705b5b;
    }
    
    .botao:hover{
        background-color: lightcoral;
    }
    
    img:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    
    .container-produtos p{
        text-align: center;
        margin-bottom: 16px;
    }
    
    .texto{
        color: white;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .imagem-produto{
        display: flex;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px; 
    }
}
/* } */